.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  color: #e40046;
  box-shadow: 1px 0 0.8rem gray;
  padding: 1em;
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
}

.github-link {
  color: #ff709b;
  font-weight: bold;
}
